# Игнорирование файлов среды разработки
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo

# Игнорирование окружения Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Игнорирование файлов Docker
.dockerignore
docker-compose.override.yml

# Игнорирование переменных окружения
.env
.env.*

# Игнорирование логов
*.log
logs/*
!logs/.gitkeep

# Игнорирование временных файлов и кэшей
*.swp
*.swo
*.swn
*.DS_Store
*.tmp
*.bak
*.backup
*.old

# Игнорирование файлов и папок, созданных системой или редактором
Thumbs.db
.DS_Store

# Игнорирование source maps
*.map
/static/vue/*.map
/static/vue/js/*.map
/static/vue/css/*.map